@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to top left, #191919, #1a492b, #24d262);
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.panel-developer{
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 5.5rem;
    width: 15rem;
    gap: 1rem;
    margin-right: 50rem;
    border-radius: 15px;
    background-color:  #0e0e0e;
    color: #adadad;
}

.panel{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 40rem;
    width: 25rem;
    background-color: #191919;
    border-radius: 15px;
}

.music-order-panel{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: 40rem;
    width: 25rem;
    overflow: hidden;
    border-radius: 15px;
    opacity: 1;
    transition: .5s;
}

.choose-playlist{
    height: 3rem;
    background-color: #1a492b;
}

.change-playlist-order{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 36rem;
    width: 100%;
    margin-top: .5rem;
    border-radius: 15px;
}

.music{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
}

.container-music{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    margin: .6rem;
}

.music-cover img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    border-radius: 8px;
}

.music-names h3{
    color: #c4c2c2;
}

.music-names p{
    color: #adadad;
}

.container-like-music{
    display: flex;
    margin: .7rem;
    gap: 1.5rem;
    font-size: 22px;
    color: #adadad;
}

.move-music{
    cursor: pointer;
}

.start-music{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    background-color: #0e0e0e;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.information-music{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    margin-left: .5rem;
}

.img-song-cover img{
    border-radius: 8px;
    height: 3.5rem;
}

.titles-music h3{
    color: #c4c2c2;
}

.titles-music p{
    color: #adadad;
}

.btns-start-music{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.5rem;
    gap: 1rem;
    font-size: 30px;
    color: #fafafa;
}

.panel-play-music{
    display: flex;
    flex-direction: column;
    max-height: 0rem;
    width: 25rem;
    overflow: hidden;
    border-radius: 15px;
    transition: .5s;
    opacity: 0;
    background-color: #0e0e0e;
}

.slider-song-cover{
    position: relative;
    display: flex;
    align-items: center;
    height: 65rem;
    width: 100%;
    overflow: hidden;
    margin-top: 2rem;
}

.slider-song-cover img{
    height: 20rem;
    border-radius: 15px;
    margin: 2.5rem;
}

.song-cover{
    display: inline-block;
}

.controls-panel{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: .5rem;
}

.music-name{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fafafa;
}

.music-name p{
    color: #adadad;
}


.progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.music-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    color: #adadad;
}

#currentTime{
    transition: .5s;
}

progress{
    height: 1rem;
    width: 20rem;
    border: 1px solid #fafafa;
    border-radius: 50px;
    cursor: pointer;
}

progress::-webkit-progress-value {
    background: #4CAF50;
    border-radius: 50px;
    cursor: pointer;
}

progress::-webkit-progress-bar {
    background: #fafafa;
    border-radius: 50px;
    cursor: pointer;
}  


.btn-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 50px;
    color: #fafafa;
    height: 4rem;
    width: 25rem;
    background-color: #24d26100;
}

.btn-return-song{
    cursor: pointer;
}


.btn-play-song .iconPause{
    display: none;
}

.btn-play-song{
    cursor: pointer;
}

.btn-advances-song{
    cursor: pointer;
}

.by-arthurdev{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 3rem;
    width: 100%;
    gap: .3rem;
    margin-bottom: 1rem;
}

.by-arthurdev p {
    color: #ada8a8;
}

.social-network{
    display: flex;
    gap: 1rem;
}

.by-arthurdev a{
    text-decoration: none;
    color: #24d262;
}

.by-arthurdev i{
    font-size: 25px;
    color: #ada8a8;
    margin-bottom: .5rem;
}